.banner-logo__inner {
  padding-top: 40px;
  display: flex;
  justify-content: center;

  img {
    border-radius: 20px;
    background: var(--item);
    margin-bottom: 20px;
  }
}

.banner-logo__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  background: var(--num);
  padding: 10px 0;
  font-weight: 700;
}

.banner-logo__text {
  background: var(--item);
  text-align: center;
  letter-spacing: 1.2px;
  padding: 20px 0;
  border-radius: 20px;
}