.rest-des {
  &_title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: var(--font-accent);
    font-weight: 500;
    position: relative;

    &::after {
      position: relative;
      content: '-';
      left: 2px;
      top: -3px;
    }

    &::before {
      position: relative;
      content: '-';
      right: 2px;
      top: -3px;
    }
  }

  &_num {
    text-align: center;
    font-size: 12px;
  }

  &__subtitle {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--dark);
    // font-family: var(--font-ralway);
    padding-bottom: 5px;
    position: relative;


  }

  &__text {
    font-family: var(--font-accent);
    font-size: 18px;
    margin-bottom: 20px;
    // font-style: italic;
  }

}

// .rest-adr {


//   &__btns {
//     margin-bottom: 40px;
//   }

//   &__btns-top {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 10px;
//     margin-bottom: 10px;
//   }

//   &__btn {
//     // padding: 15px;
//     // background-color: var(--gold);
//     // border-radius: 12px;
//     // width: 100%;
//     // text-align: center;
//     // font-size: 18px;
//     // font-weight: 500;
//     padding: 20px;
//     background: var(--dark);
//     color: var(--green);
//     text-align: center;
//     font-family: var(--font-accent);
//     text-transform: uppercase;
//     border-radius: 12px;
//     font-weight: 500;
//     letter-spacing: 3.2px;
//     font-size: 16px;
//     @extend %shed;

//   }

//   &__address {
//     b {
//       padding-right: 10px;

//     }

//     a {
//       font-family: var(--font-accent);
//       border-bottom: 1px solid var(--dark);
//       font-size: 18px;
//       padding-bottom: 3px;
//     }

//     b,
//     a {
//       display: inline-block;
//       margin-bottom: 10px;
//     }
//   }

// }

// .rest-gal {
//   margin-bottom: 20px;

//   &__items {
//     display: flex;
//     flex-wrap: nowrap;
//     white-space: nowrap;
//     overflow-y: hidden;
//     padding-bottom: 10px;

//     @extend %scroll-hidden;
//   }

//   &__item {
//     min-width: 250px;

//     margin-right: 20px;

//   }

//   &__item img {
//     border-radius: 10px;
//     margin-bottom: 10px;
//     height: 250px;
//     width: 100%;
//     filter: brightness(0.8);
//   }
// }


// .questions {
//   background: var(--dark);
//   padding: 50px 0;
//   // margin-bottom: 40px;
// }

// .questions__wrapper {
//   margin-bottom: 40px;
// }


// .main-title {
//   margin-bottom: 0.5rem;
//   text-align: center;
//   font-family: cursive;
//   font-weight: 700;
//   // font-size: 0.32rem;
//   color: var(--green);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 24px;
// }

// .main-title:before,
// .main-title:after {
//   content: "";
//   padding-top: 5px;
//   display: block;
//   margin: 0 0.2rem;
//   flex: 1;
//   border-bottom: 1px solid var(--green);
// }





/* input[type=radio] {
  display: none;
} */
.active .questions__title {
  color: var(--green);
  border-color: var(--blue);
  background-color: var(--blue);
}

.active .questions__title:after {
  transform: rotate(180deg);
}

.active .content {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s, opacity 0.7s;
  color: var(--wh);
}

.item {
  display: block;
  margin-bottom: 0.1rem;
}

.questions__title {
  padding: 0.4rem 0.4rem;
  border-radius: 0.3rem;
  color: var(--green);
  border: 1px solid;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.questions__title:after {
  content: "▼";
  display: inline-block;
  font-size: 12px;
}

.content {
  width: 95%;
  margin: 0 auto;
  padding: 0 0.3rem;
  line-height: 1.6;
  color: var(--wh);
  border: 1px solid;
  border-width: 0 1px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.rest-map {
  // margin-bottom: 40px;
}