:root {


  --font-main: "Poppins", sans-serif;
  // --font-accent: "Playfair Display", serif;
  --font-title: "Raleway", sans-serif;

  --bg: #f8f8fa;
  // --bg: #f5ce91;
  --item: #f5ce91;
  // --item: #f8f8fa;
  --dark: #202020;
  // --gr: #c1c1c1;
  // --accent: #ffdf00;
  --num: rgb(248, 248, 255, 0.6);
  --title: rgba(245, 206, 145, 0.8);
  // --gold: #c8a755;
  // --blue: #427D9D;
  // --green: #DDF2FD;


}